// https://material.io/design/color/the-color-system.html#tools-for-picking-colors
// http://mcg.mbitson.com/#!?mcgpalette0=%233f51b5
// https://jnpiyush.medium.com/how-to-create-custom-theme-in-angular-material-bd518818d2fc

$theme-win-dark: (
  50: #181818,
  100: #1f1f1f,
  200: #242424,
  300: #2e2e2e,
  400: #373737,
  500: #444444,
  600: #767676,
  700: #9e9e9e,
  800: #b7b7b7,
  900: #e0e0e0,
  contrast: (
    50: rgba(255, 255, 255, 0.87),
    100: rgba(255, 255, 255, 0.87),
    200: rgba(255, 255, 255, 0.87),
    300: rgba(255, 255, 255, 0.87),
    400: rgba(255, 255, 255, 0.87),
    500: rgba(255, 255, 255, 0.87),
    600: rgba(255, 255, 255, 0.87),
    700: rgba(255, 255, 255, 0.87),
    800: rgba(255, 255, 255, 0.87),
    900: rgba(255, 255, 255, 0.87),
  ),
);

$theme-win-light: (
  50: #181818,
  100: #1f1f1f,
  200: #242424,
  300: #2e2e2e,
  400: #373737,
  500: #fbfbfb,
  600: #767676,
  700: #9e9e9e,
  800: #b7b7b7,
  900: #e0e0e0,
  contrast: (
    50: rgba(255, 255, 255, 0.87),
    100: rgba(255, 255, 255, 0.87),
    200: rgba(255, 255, 255, 0.87),
    300: rgba(255, 255, 255, 0.87),
    400: rgba(255, 255, 255, 0.87),
    500: rgba(255, 255, 255, 0.87),
    600: rgba(255, 255, 255, 0.87),
    700: rgba(255, 255, 255, 0.87),
    800: rgba(255, 255, 255, 0.87),
    900: rgba(255, 255, 255, 0.87),
  ),
);
